body{
    background-color: #e7f1ff;
}
div.layout{
    height:50px;
    width:100%;
}
div.Header{
    background-color: #b7dcff;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: 2px solid navajowhite;
    border-bottom: none;
}
div.Header:currentInfo{
    background-color: #b7dcff;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border: 2px solid navajowhite;
    border-bottom: none;
    height: 10px;
}
div.layout:after{
    content: "";
    display: table;
    clear: both;
}
div.Panel {
    background-color: #b7dcff;
    float: left;
    width: 31%;
    padding: 1%;
    height:90%;
    overflow-y: scroll;
    border: 2px solid navajowhite;
}
div.Cal{
    background-color: #b7dcff;
    float: left;
    width: 64%;
    padding: 1%;
    height:90%;
    overflow-y: scroll;
    border: 2px solid navajowhite;
    border-left: none;

}
td{
    width: 150px;
    font-size: 26px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
}
